<html>
  <head>
    <title>Quintype Diamond Sweeper App</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css"/>
  </head>
  <body>
    <div id="container">
      <div class="rules">
        <h2>Diamond Sweeper</h2>
        <b>The rules of this game are as follows:</b>
        <br/> 8 diamonds are hidden in this board game, you will find each diamond behind any of the tiles
        <br/> Click on the tiles to open them. Your score is the number of tiles which are unopened.
        <br/> This game ends when all the diamonds are found.
        <br/>
      </div>
      <div class="messages">Ready to Play</div>
      <div class="diamondSweeper-board">
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
        <div class="cell unknown"></div>
      </div>
      <div id="user-controls">
        <button type="button" name="button" class="button -salmon new-game">Start Game</button>
        <button type="button" name="button" class="button -salmon new-game hints">Start Game with Hints</button>
        <button type="button" name="button" class="button -salmon save-game">Save Game</button>
        <button type="button" name="button" class="button -salmon load-game">Load Save Game</button>
      </div>
    </div>
    <!-- build:js scripts/app.js -->
    <script type="text/javascript" src="/assets/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
